/* Estilo de la letra */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/*-------------------------------------------------------------------------------------------------------------------*/

/* General modifica todo el HTML*/
* {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', 'sans-serif';
	font-weight: 400;
	color: #333;
	scroll-behavior: smooth;
}

h1 {
	margin: 0 0 .5rem 0;
	font-size: 2.5rem;
	color: #eaeaff;
	font-weight: 500;
}
h2 {
	font-size: 2.5rem;
	text-align: center;
	font-weight: 600;
    color: #eaeaff;
}
h2.titulo-info {
	color: #333e;
}
li {
	font-size: 1.05rem;
	color: #333e;
}

div.logo, ul.menu, ul.menu-social {
	margin: auto;
	display: flex;
	align-items: center;
}

img {
	vertical-align: middle;
}

html,
body{
	height: 100%;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/* Seccion Cabecera */
/* Usar el 100% de la pantalla*/

/* Menu superior cabecera */
section.cabecera {
	background: #3254ff;
	border-top: 15px solid #eaeaff;
}

/* Navegacion */
nav.cel {
	padding: 11px 0;
	display: flex;
    align-items: center;
}

/* logo de empresa - navegacion */
section div.logo {
	width: 50%;
}
div.logo a {
    margin: 1px 10px 1px 6.5%;
}
img.img-logo {
	width: 85%;
}

/* Menu de navegacion y redes*/

section ul.menu {
	width: 34%;
	justify-content: center;
}
.nav-link {
    margin: 0 10px;
	padding: 0;
	font-size: 1rem;
    font-weight: 700;
	text-decoration: none;
    color: #eaeaff;
}

section div.cont-social {
	width: 16%;
}
section ul.menu-social {
	justify-content: center;
}
/* Elimina puntos o viñetas de las listas*/
nav ul li {
	list-style-type: none;
}

/* Iconos redes social */
.menu-social a img {
	width: 35px;
}
.nav-item-social {
	margin: 0 5px;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/* Seccion Informacion */
section.informacion {
	background: #eaeaff;
}

div.contenido {
	display: grid;
    justify-items: center;
}

/* Contenido Texto */
div.textocontenido  {
	padding: 20px;
}

.textocontenido p {
	padding: 0 20%;
	font-size: 1.2rem;
	text-align: justify;
}

div.listas {
	padding: 0 20%;
	display: flex;
    align-items: center;
}
section.productos div.listas {
	justify-content: center;
}
div.lista1 {
	margin-right: 20px;
}
div.lista2 {
	margin-left: 20px;
}

ul.servicio {
	margin-left: .5rem;
}
ul.servicio-list {
	margin: 1rem 0 0 1rem;
}
ul.servicio li {
	font-weight: 700;
}

/* Contenido Galeria Carousel */
.galeria {
	margin-bottom: 1.5rem;
	width: 100%;
}
.contenidoGaleria {
	display: grid;
	justify-items: center;
}
.slide {
	box-sizing: border-box;
    width: 40%;
}
.carousel-item img {
	width: 100%;
	height: 16rem;

}

/*-------------------------------------------------------------------------------------------------------------------*/
/* Seccion Contactos */
footer {

	background-image: linear-gradient(to top, rgba(90, 90, 90) 0%, rgba(30, 30, 30) 45%, rgba(5, 5, 5, 0) 70%);
}

div.span-contactos {
    width: 100%;
    height: 131px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: #3254ff;
}
div span.spanContactenos {
    margin-left: 200px;
}

div hr {
    margin-left: 200px;
    margin-top: 15px;
    height: 3px;
    width: 74%;
    background-color: #eaeaff;
}
/* Estilo contenedor contactos pie de pagina */
div.contactos {
	margin-top: 2rem;
	display: flex;
	justify-content: space-between;

}
div.pie-logo {
	padding: 0 0 3.5rem 2rem;
	display: grid;
	justify-items: center;
}
div.cont-infoSede {
	padding: 0 2rem 1.2rem 0;
    
	display: grid;
}
div.titulo-infoSede {
	display: flex;
	justify-content: center;
}
div.titulo-infoSede h3 {
	color: #fff;
}
div.ico-contacto {
	display: flex;
}
a.mapa, a.tel, a.mail {
	display: flex;
    align-items: center;
}
div.ico-contacto h4 {
	margin-left: 12px;
	font-size: 1.3rem;
	color: #eaeaff;
}
div.ico-contacto a img {
	padding: 0 0 10px 0;
	width: 30px;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/* Adaptacion a dispositivos moviles ancho */
@media screen and (max-width: 1070px) {
	/* Menu cabecera */
	h1 {
		font-size: 1.8rem;
	}
	.nav-link {
		font-size: .8rem;
	}
	section div.logo {
		width: 48%;
	}
	div.logo a {
		margin: 1px 10px 1px 7%;
	}
	img.img-logo {
		width: 75%;
	}
	section ul.menu {
		width: 36%;
	}
	.dropdown__check {
		width: 7rem;
	}
	.dropdown__li {
		padding: 0;
	}
	.nav-item-social a img {
		width: 28px;
	}

	/* Info Gallery */
	.slide {
		width: 45%;
	}

	/* Seccion pie de pagina */
	label {
		font-size: .9rem;
		color: #3254ff;
	}
	div.formulario input, .cont-button button {
		width: 100%;
	}
	div.pie-logo img {
		width: 24%;
	}
	h2 {
		font-size: 2rem;
	}
	h3 {
		font-size: 1.2rem;
	}
	div.ico-contacto h4 {
		font-size: .9rem;
	}
	div.ico-contacto a img {
		width: 30px;
	}
}

/*-------------------------------------------------------------------------------------------------------------------*/

/* Adaptacion a dispositivos moviles ancho */
@media screen and (max-width: 850px) {
	/* Menu cabecera */
	h1 {
		font-size: 1.3rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	h3 {
		font-size: 1rem;
	}
	.nav-link {
		margin: 0 6px;
		font-size: .65rem;
	}
	div.logo a {
		margin: 1px -35px 1px 7.5%;
	}
	div.menu_empresa a.logo {
		width: 20%;
	}
	img.img-logo {
		width: 50%;
	}
	.nav-item-social a img {
		width: 22px;
	}

	/* Info Galeria */
	div span.spanGallery,
	div span.spanContactenos,
	div hr {
		margin-left: 100px;
	}

	/* Seccion pie de pagina */
	footer {
		background-image: linear-gradient(to top, rgba(90, 90, 90) 0%, rgba(30, 30, 30) 42%, rgba(5, 5, 5, 0) 70%);
	}
	div.ico-contacto h4 {
		font-size: .75rem;
	}

}

/*-------------------------------------------------------------------------------------------------------------------*/

/* Adaptacion a dispositivos moviles ancho */
@media screen and (max-width: 700px) {
	/* Menu cabecera */
	div.menu_empresa img {
		width: 70%;
	}
	h1 {
		margin: 0;
		font-size: 1.19rem;
	}
	h2 {
		font-size: 1.1rem;
	}
	h3 {
		font-size: .75rem;
	}
	div.ico-contacto h4  {
		font-size: .47rem;
	}
	
	.nav-link {
		margin: 0 6px;
		font-size: .65rem;
	}
	section div.logo {
		width: 46%;
	}
	div.logo a {
		margin: 1px -44px 1px 8%;
	}
	img.img-logo {
		width: 46%;
	}
	section ul.menu {
		width: 40%;
	}
	.nav-item-social {
		padding: 0;
	}

	/* Texto */
	.textocontenido p {
		padding: 0 10%;
	}
	div.listas {
		padding: 0 0 0 10%;
	}

	/* Pie de pagina */
	div.cont-infoSede {
		padding: 0 1rem 1.2rem 0;
	}
	div.ico-contacto a img {
		width: 28px;
	}
	div.pie-logo {
		padding: 0 0 3.5rem 1rem;
	}
	
}

/*-------------------------------------------------------------------------------------------------------------------*/

/* Adaptacion a dispositivos moviles ancho */
@media screen and (max-width: 570px) {
	/* menu cabecera */
	h1 {
		font-size: 1.8rem;
	}
	h2 {
		font-size: 1.2rem;
	}
	nav.cel {
		padding: 11px 0;
		display: grid;
		justify-items: center;
	}
	section div.logo {
		width: 100%;
		justify-content: center;
	}div.logo a {
		margin: 0 -20px 1px 0;
	}
	img.img-logo {
		width: 68%;
	}
	section ul.menu {
		width: 100%;
		height: 6rem;
	}
	.nav-link {
		font-size: 1.1rem;
	}
	.nav-item-social {
		padding: 0 6px;
	}
	.nav-item-social a img {
		width: 36px;
	}

	/* Cabeza de pagina */
	div.carouselslide {
		width: 99%;
	}

	/* Contenido Texto */
	.textocontenido p {
		padding: 0 1%;
		font-size: 1rem;
	}
	div.listas {
		padding: 0 0 0 1.5rem;
	}
	ul.servicio li {
		font-size: .885rem;
	}
	
	li {
		font-size: .86rem;
	}

	/* Gallery */
	.slide {
		width: 80%;
	}

	/* Span hr imagen y contacto */
	div span.spanGallery, div span.spanContactenos, div hr {
		margin-left: 50px;
	}

	/* Pie de pagina */
	footer {
		background-image: linear-gradient(to top, rgba(90, 90, 90) 0%, rgba(30, 30, 30) 30%, rgba(5, 5, 5, 0) 75%);
	}
	div.contactos {
		margin: 0;
		display: grid;
		justify-content: center;
	}
	div.pie-logo {
		padding: 3rem 0 2rem 0;
	}
	div.titulo-infoSede h3 {
		font-size: 1.15rem;
	}
	div.ico-contacto h4 {
		font-size: .75rem;
	}
}


/*-------------------------------------------------------------------------------------------------------------------*/

/* Adaptacion a dispositivos moviles ancho */
@media screen and (max-width: 400px) {
	div.logo a {
		margin: 2px -30px 1px 5px;
	}
	img.img-logo {
		width: 63%;
	}
	h1 {
		font-size: 1.75rem;
	}
	.nav-link {
		font-size: 1rem;
	}
	div.listas {
		padding: 0 0 0 1.1rem;
	}
	li {
		font-size: .73rem;
	}
}

/* Adaptacion a dispositivos moviles ancho */
@media screen and (max-width: 350px) {
	h1 {
		font-size: 1.4rem;
	}
	.nav-link {
		font-size: .86rem;
	}
	li {
		font-size: .7rem;
	}
}